/*bodyのスタイル、背景画像の表示*/
body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/flower.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
/*入力フォーム*/
input[type="text"],input[type="password"],select{
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    color: #283618;
    background-color: antiquewhite;
    opacity: 0.7;
    padding-left:20px;
    border: 1px solid #17a2b8;
}
input[type="text"]:focus,input[type="password"]:focus,select:focus {
    outline: none;
    border-radius: 20px;
    text-align: left;
}
input[type="text"]:hover,input[type="password"]:hover,select:hover {
    outline: none;
    border-radius: 20px;
    border:solid 1px yellow;
}
/*ボタン*/
button {
    border: none;
    background-color: white;
    color: #17a2b8;
    height: 50px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    opacity: 1;
    border-radius: 45px;
}
button:focus {
    outline: none;
}
button:hover {
    background-color: #17a2b8;
    color: white;
}
/*一番外枠の設定*/
.wrapper {
    width: 100%;
}
/*メインクラス*/
.main {
    position: relative;
}
/*ヘッダー*/
header {
    background-color:black;
    color: antiquewhite;
    text-align: right;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    font-size: 16px;
    padding: 10px 20px 0 10px;
}
.header-separated {
   height: 45px;
}
/*フッター*/
footer {
    color: white;
    text-align: center;
    font-size: 16px;
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}
/*ログアウトボタン*/
#logout-button {
    background-color:yellow!important;
    float:right!important;
    margin-top: 2px;
    height: 40px;
}

/*エラー時のアラート*/
.form_wrap { margin: 0 auto; }
.errors {
    width: 400px;
    text-align: center;
    margin: 20px 0 10px 420px;
    font-size: 16px;
    color: #e95353;
    border: 1px solid #e95353;
    background-color: #f2dede;
}
.errors ul {
    list-style : none;
}
