/*ログイン画面のbody*/
body {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../img/flower.webp)!important;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    margin: 0;
}
/*Pタグ*/
p {
    text-align: center;
    font-size: 16px;
    color: #61c761;
    font-weight: bolder;
    margin-top: 10px;
}
.p_mail {
    margin-top: 50px;
}
/*フォーム*/
input[type="text"] {
    height: 40px;
    width: 200px;
    margin: 0 0 0 540px;
}
input[type="password"] {
    height: 40px;
    width: 200px;
    margin: 0 0 0 540px;
}

/*送信ボタン*/
.submit {
    height: 50px;
    width: 200px;
    font-size: 15px;
    margin: 20px 0 0 540px;
}

/*チェックボックスの設定*/
input[type="checkbox"] {
    width: 20px;
    height: 15px;
}
/*チェックボックス*/
.checkbox {
    color:#61c761;
    font-weight: bolder;
    width:300px;
    height: 20px;
    font-size: 16px;
    margin: 10px 0 0 500px;
}

