/*
formクラスのスタイル
*/
.form {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 60px;
    font-size: 16px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.form li {
    padding-right: 10px;
    margin:0 0 10px 10px;
}
/*入力フォーム*/
input[type="text"] {
    height: 32px;
    width: 100px;
    opacity: 0.7;
    margin-bottom: 10px;
}
/*所属先の課 */
select {
    height: 33px;
    width: 100px;
    opacity: 0.7;
    margin: 60px 20px 0 10px;
    padding-bottom: 0;
}
select:focus {
    outline: none;
}
/*ボタン*/
button[type="reset"],button[type="submit"],.icon-add {
    margin-left : 20px!important;
}
/*
tableのスタイル
*/
/*管理者行の背景色*/
.management_line {
    background-color: #e8d6ba;
}
/*管理者行、社員者行*/
.user_line,.management_line {
    height: 80px;
    overflow: hidden;
}
/*table*/
.user-list {
    height: auto;
    width: 80%;
    color: darkgreen;
    list-style: none;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    border: solid 5px gray;
    margin-bottom: 100px;
    margin-top: 100px;
}
/*tableの見出し*/
th {
    background-color: #17a2b8;
    color: white;
    border: solid 5px gray;
}
/*tableの行目以降*/
td {
    border: solid 5px gray;
}
/*新規登録ボタン*/
.add {
    width: 120px;
    height: 50px;
    float: right;
    margin-right: 230px;
    border-radius: 50px;
 }
/*削除ボタン、編集ボタン*/
.icon-trash,.icon-edit {
    margin: 20px 10px;
    height: 40px;
    padding: 0;
}
/*削除ボタン*/
.icon-trash {
    margin: 20px 7px 7px 10px;
    float: left;
}
/*編集ボタン*/
.icon-edit {
    float: right;
}

