/*formクラス*/
.form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(250, 235, 215, 0.5);
    box-shadow: 1px 1px 20px 1px black;
    color: white;
    font-size: 16px;
    list-style: none;
    padding: 5px 0;
    margin-bottom: 50px;
}
/*liタグ*/
 li {
    list-style: none;
     margin-top: 7px;
}
 /*入力フォーム*/
input[type="text"],input[type="password"] {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    background-color: antiquewhite;
    opacity: 0.5!important;
    margin-top: 5px;
}
input:focus {
    outline: none;
}
input:hover {
    border: 1px solid tomato;
}

/*所属先の課*/
#belong {
    margin-top: 5px;
}
select {
    width: 300px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    padding-left: 10px;
    background-color: antiquewhite;
    opacity: 0.5!important;
    border: 1px solid #17a2b8;
}
select:focus {
    outline: none;
}
/*管理者権限のボタン*/
.radio {
    margin-bottom: 20px;
}
/*
ファイルアップロードのフォームの設定をします。
 */
/*label > input[type="file"] {*/
/*    display: none;*/
/*}*/
/*.photo label {*/
/*    background-color: white;*/
/*    color: tomato;*/
/*    padding: 15px;*/
/*    margin-bottom: 10px;*/
/*    border: 1px solid tomato;*/
/*    border-radius: 50px;*/
/*}*/
/*.photo label:hover {*/
/*    cursor: pointer;*/
/*    background-color: tomato;*/
/*    color: white;*/
/*    border: 1px solid white;*/

/*}*/

/*戻るボタン、登録ボタン */
.reset,.register {
    margin-bottom: 20px;
}
/*登録ボタン*/
.register {
    margin-left: 10px;
}

